#button1
{
    float:left;
    background:#336699 url('http://www.menucool.com/horizontal/javascript/50/mb50_1.gif') repeat-x;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-top: 8%;
    margin-left: 0%;
    margin-bottom: 8%;
    padding: .2% 3% .2% 3%; /*right bottom left top*/
    color: white;
    font: normal 12px Arial;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: solid 1px #39F;
    letter-spacing: 1px;
}


#button1:hover
{

    background-position: 0% -60px;
    color:white;
}

:focus, :active {
    outline: 0;
    border: 0;      /*elimina los puntos feos cuando uno clickea el boton*/
}

#addCartButton
{
    border-top: 1px solid #61f298;
    background: #74d665;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e9c5c), to(#74d665));
    background: -webkit-linear-gradient(top, #3e9c5c, #74d665);
    background: -moz-linear-gradient(top, #3e9c5c, #74d665);
    background: -ms-linear-gradient(top, #3e9c5c, #74d665);
    background: -o-linear-gradient(top, #3e9c5c, #74d665);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    margin-bottom:2%;
    margin-left: 30%;
    margin-top: 4%;

    margin-right: 5%;


}

#addCartButton:hover {
    border-top-color: #59b342;
    background: #59b342;
    color: #fafffe;
}
#addCartButton:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

#addWishListButton
{

    border-top: 1px solid #f2f2f2;
    background: #878787;
    background: -webkit-gradient(linear, left top, left bottom, from(#afbab3), to(#878787));
    background: -webkit-linear-gradient(top, #afbab3, #878787);
    background: -moz-linear-gradient(top, #afbab3, #878787);
    background: -ms-linear-gradient(top, #afbab3, #878787);
    background: -o-linear-gradient(top, #afbab3, #878787);
    padding: 6px 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left:25%
}

#addWishListButton a
{
    text-decoration: none;
}

#addWishListButton:hover{
    border-top-color: #757575;
    background: #757575;
    color: #fafffe;

}
#addWishListButton:active{
    border-top-color: #1b435e;
    background: #1b435e;
}


#reviewButton {
    border-top: 1px solid #fffe2c;
    background: #afba4e;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7e200), to(#e9e82b));
    background: -webkit-linear-gradient(top, #f7e200, #e9e82b);
    background: -moz-linear-gradient(top, #f7e200, #e9e82b);
    background: -ms-linear-gradient(top, #f7e200, #e9e82b);
    background: -o-linear-gradient(top, #f7e200, #e9e82b);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 28%;
    margin-bottom:5%;

}
#reviewButton a
{
    text-decoration: none;
}

#reviewButton:hover {
    border-top-color: #e3ce44;
    background: #e3ce44;
    color: #ffffff;
}

#reviewButton:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

#addCartButt
{
    border-top: 1px solid #61f298;
    background: #74d665;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e9c5c), to(#74d665));
    background: -webkit-linear-gradient(top, #3e9c5c, #74d665);
    background: -moz-linear-gradient(top, #3e9c5c, #74d665);
    background: -ms-linear-gradient(top, #3e9c5c, #74d665);
    background: -o-linear-gradient(top, #3e9c5c, #74d665);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 70%;
    margin-top: -1%;
    text-decoration: none;
}

#addCartButt:hover {
    border-top-color: #59b342;
    background: #59b342;
    color: #fafffe;
}
#addCartButt:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

#deleteWishListButton
{

    border-top: 1px solid #f2f2f2;
    background: #878787;
    background: -webkit-gradient(linear, left top, left bottom, from(#afbab3), to(#878787));
    background: -webkit-linear-gradient(top, #afbab3, #878787);
    background: -moz-linear-gradient(top, #afbab3, #878787);
    background: -ms-linear-gradient(top, #afbab3, #878787);
    background: -o-linear-gradient(top, #afbab3, #878787);
    padding: 6px 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 31.5%;
}

#deleteWishListButton a
{
    text-decoration: none;
}

#deleteWishListButton:hover{
    border-top-color: #757575;
    background: #757575;
    color: #fafffe;

}
#deleteWishListButton:active{
    border-top-color: #1b435e;
    background: #1b435e;
}
