#topHeader {
    height: 155px;
    margin-top: 0;
    position: relative;
}

#topHeader .hidden {
    margin-top: -96px;
}

#topHeader .searchBar img {

}

#topHeader .searchBar form {   
    padding: 0;
    width: 800px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: 115px;
    left: 140px;
}

#topHeader .searchBar select {
    width: 120px;
    height: 20px;
    position: absolute;
    right: 365px;
    top: 3px;
    font-size: 13px;
    background-color: #252525;
    border: none;
    color: #ededed;
}

#topHeader .searchBar select option {

}

#topHeader .searchBar input.search {

    width: 270px;
    height: 21px;
    font-size: 15px;
    padding: 1px 1px 1px 150px;
    //background: transparent;
    //background: rgba(242, 242, 242, 0.15);
    background-color: #252525;
    background-clip: padding-box;

    display: inline-block;
    float: right;
    margin-right: 90px;
    
    border: none;
    border-radius:         26px;
    -moz-border-radius:    26px;
    -o-border-radius:      26px;
    -webkit-border-radius: 26px;
    
    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    -o-box-shadow:      inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    
    color: #ededed;
    outline: none;
    
    transition:         all .1s linear;
    -moz-transition:    all .1s linear;
    -o-transition:      all .1s linear;
    -webkit-transition: all .1s linear;

}

#topHeader .searchBar input.search:focus {
    //background: transparent;
    //background: rgba(225, 225, 230, 0.2);

    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -o-box-shadow:      inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
}

#topHeader .searchBar input.sbm {
    width: 80px;
    height: 23px;
    position: absolute;
    right: 0;
    padding: 0;
    top: 1px;

    background-color: #7a7a7a;
    font-family: Tahoma;
    letter-spacing: 1px;

    font-size: 14px;
    color: #d5d5d5;

    border: none;
    border-radius:         26px;
    -moz-border-radius:    26px;
    -o-border-radius:      26px;
    -webkit-border-radius: 26px;

    cursor: pointer;
}

#topHeader .searchBar input.sbm:hover {
    background-color: #5a5a5a;
}

#topHeader .searchBar input.sbm:active {
    background-color: #dadada;
    color: #5a5a5a;
}

#topHeader .searchBar label {
    background: transparent url(http://f.cl.ly/items/2a2Z0V0L0J1p3V082d3r/icon-search.png) no-repeat top left;
    cursor: pointer;
    height: 16px;
    width: 16px;
    float: right;
    margin-right: -23px;
    margin-top: 4px;
}

#topHeader #logoContainer {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("http://i.imgur.com/7nXSwKo.png");
    background-repeat: no-repeat;
    background-color: black;

    width: 100%;
    height: 155px;
}

#topHeader #logoContainer h1 {
    font-size: 26px;
    text-align: center;
}

#topHeader #logoContainer h2 {
    font-size: 17px;
    text-align: center;
}

#menuHeader
{
    border: solid 1px #39F;
    background:#336699 url('http://www.menucool.com/horizontal/javascript/50/mb50_1_bg.gif') repeat-x;
    padding:0px;/*changing its value will give menu margins to its container*/
    text-align:center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}


#menuHeaderInterno
{
    margin:0 auto;/*If you don't want the menu center aligned, remove this line and above text-align:center*/
    font-size:0;
}

#menuHeaderInterno ul, #menuHeaderInterno li
{
    display: inline;
    list-style-type: none;padding: 0;margin: 0;border:0;background-image:none;
}

#menuHeaderInterno a
{
    text-align: center;
    display: inline-block;
    font: normal 12px Arial;
    background: url('http://www.menucool.com/horizontal/javascript/50/mb50_1.gif') no-repeat left top;
    padding: 10px 20px;/*This defines the size of each menu item*/
    color: white;
    text-decoration: none;
}

#menuHeaderInterno a:hover, #menuHeaderInterno a.current
{
    background-position: 0% -60px;
    color: white;
}
#menuHeaderInterno a.endMenuHeader
{
    width:2px;
    padding-left:0;padding-right:0;
}






