#panel
{
    width:100%;
    float:left;
    overflow-y: scroll;
}

#panel #panel_boundaries {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	overflow: visible;
}


#imagePanel
{
    float:left;
    width:20%;

    overflow: hidden;
}

#descriptionPanel
{
    padding-top: 2%;
    width:40%;
    float:left;


}

#optionsPanel
{
    float:left;
    width:25.6%;

    margin-right:0%;


}

#buttonHolder
{
    margin-top: 10%;
    width: 80%;
    border:solid lightgray;
    margin-left: 10%;
    margin-bottom: 10%;
    border-width: 1px;

}

#reviewsPanel
{
    border: solid;
}



#imageHolder
{
    margin-top:10%;
    margin-bottom:10%;
    height: 80%;
    width: 60%;
    padding-top: 5%;
    margin-left:5%;

}